{% extends 'base1.html' %}
{% block content %}
<br>
<div class="container">
 <table class="table table-striped">
         <thead>
            <tr>
               <th>ID</th>
               <th>Username</th>
               <th>Actions</th>
            </tr>
         </thead>

         <tbody>
            {% for user in users %}
            {% if g.user['username']=='admin' %}
                 <tr>
                   {% if not user.username=='admin' %}
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                        <td>{% if g.user['username'] == 'admin' %}
                        <a href="{{ url_for('auth.deleteuser', id=user.id) }}" class="btn btn-primary">Delete</a>&nbsp;&nbsp;
                        {% endif %}
                       </td>
                    {% endif %}
               </tr>
            {% endif %}
            {% endfor %}
         </tbody>
      </table>
</div>
{% endblock %}