{% extends 'base1.html' %}
{% block content %}
<br>
<div class="container">
 <table class="table table-striped">
         <thead>
            <tr>
               <th>ID</th>
               <th>Username</th>
               <th>Total Posts</th>
               <th>Actions</th>
            </tr>
         </thead>

         <tbody>
            {% for user in users%}
            {% if g.user['username']=='admin' %}
                 <tr>
                    {% if not user.username=='admin' %}
                      {% for dict_item in parent_dict %}
                         {% for key, value in dict_item.items() %}
                            {% if user.username==key %}
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{value}}</td>
                            {% endif %}
                         {% endfor %}
                      {% endfor %}
                        <td>{% if g.user['username'] == 'admin' %}
                        <a href="{{ url_for('auth.deleteuser', id=user.id) }}" class="btn btn-primary">Delete</a>&nbsp;&nbsp;</td>
                        {% endif %}
                      {% endif %}  
               </tr>
            {% endif %}
            {% endfor %}
         </tbody>
      </table>
</div>
{% endblock %}