{% extends 'base1.html' %}
{% block content %}
<br>
<div class="container">
 <table class="table table-striped">
         <thead>
            <tr>
               <th>ID</th>
               <th>Username</th>
               <th>Password</th>
            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                   {% if not user.id==1 %}
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.password }}</td>
                       <td>
                        <td>{% if g.user['username'] == 'admin' %}
                        <a href="{{ url_for('auth.deleteuser', id=user.id) }}" class="btn btn-primary">Delete</a>
                        {% endif %}</td>
                    {% endif %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
</div>
{% endblock %}